.container section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: black;
  line-height: 2rem;
  direction: rtl;
  gap: 110px;
  padding: 40px 0;
  color: gray;
}

.container section div p {
  font-size: 36px;
  line-height: 2.4rem;
}

.container section div {
  display: grid;
  gap: 5px;
  color: black;
}

.container span {
  font-size: 14px;
}

.container {
  color: black;
  text-align: right;
  max-width: 1222px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-bottom: 4rem;
  margin-left: auto;
}

.main p {
  margin-top: 20px;
  direction: rtl;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 90px;
  margin-top: 150px;
  margin-bottom: 150px;
}

.main span {
  font-size: 14px;
}

.title {
  margin: 10px 0 !important;
  font-size: 35px;
}

@media (max-width: 1024px) {
  .container section {
    grid-template-columns: 1fr;
    gap: 60px;
    margin-bottom: 20px; /* اضافه شده */
  }

  .main {
    grid-template-columns: 1fr;
    gap: 50px;
    margin-top: 50px; /* تغییر کرده */
    margin-bottom: 50px; /* تغییر کرده */
  }

  .main p {
    margin: 25px 0 0 0;
  }
}
