.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
  overflow-y: auto;
}

.navbar main,
.navbar_fixed main {
  background: rgb(255, 255, 255);
  transition: background-color 0.2s ease;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  color: black;
  display: flex;
  flex-direction: row-reverse;
  padding-left: 30px;
  padding-right: 30px;
  height: 90px;
  align-items: center;
  margin: 0 auto;
  max-width: 1192px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  justify-content: space-between;
}
.navbar:before {
  content: "";
  display: block;
  height: 30px;
}
.navbar_fixed main {
  height: 73px !important;
  box-shadow: none !important;
}
.navbar_fixed {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  animation: fadeInDownBig 0.4s ease;
  left: 0;
  width: 100%;
  top: 0;
  background: white;
  z-index: 999;
}
@keyframes fadeInDownBig {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: none;
  }
}
.navbar {
  position: absolute;
  width: 100%;
  z-index: 300;
}
.links {
  display: flex;
  gap: 25px;
  align-items: unset;
  flex-direction: row-reverse;
}
.links li {
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  font-family: "shabnam", Arial, Helvetica, sans-serif;
  color: rgb(52, 24, 14);
  white-space: nowrap;
}

.navbar_icons {
  display: flex;
  gap: 30px;
  margin-top: 0.3rem;
  font-size: 1.2rem;
}
.navbar_icons a {
  position: relative;
}
.navbar_icons a span {
  left: -9px;
  border-radius: 100%;
  top: -7px;
  font-size: 0.5rem;
  padding: 0.2rem 0.4rem;
  background: rgb(52, 24, 14);
  color: white;
  position: absolute;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  padding-bottom: 0.5rem;
  font-family: "shabnam", Arial, Helvetica, sans-serif;
}
.dropdown a {
  display: flex;
  white-space: nowrap;
  align-items: center;
}
.dropdown_content a:hover {
  color: rgb(52, 24, 14);
}
.dropdown_content a {
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  color: #848484;
  transition: all 0.25s ease;
  font-size: 14px;
  justify-content: right !important;
}
.dropdown_content {
  display: none !important;
  top: 20px;
  padding-top: 20px !important;
  right: -3px;
  text-align: right;
  flex-direction: column;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 20px;
  z-index: 1;
}
.dropdown_icons {
  font-size: 0.7rem;
  position: relative;
  right: 3px;
  color: rgba(82, 82, 82, 0.45);
}

.dropdown:hover .dropdown_content {
  display: flex !important;
}

.nav_mobile {
  display: none;
}

.img_mobile {
  width: 171px;
  height: 51px;
}

.nav_mobile svg {
  font-size: 20px;
}

.container_nav {
  position: relative;
}

.cartPage {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 70%;
  background-color: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  z-index: 400;
  padding: 10px 20px;
  overflow: hidden; /* Make sure no overflow happens outside the container */
}

.cart_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  direction: rtl;
  padding: 0 0 20px 0;
  border-bottom: 1px solid gray;
}

.cart_footer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-top: 1px solid gray;
  gap: 5px;
  position: sticky;
  bottom: 0;
  background: white;
}

.cart_footer a {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  outline: none;
  border: none;
}

.cart_footer a:nth-child(2) {
  background-color: lightgray;
}

.cart_footer a:nth-child(3) {
  background-color: #008979;
  color: white;
}

.cart_totalPrice {
  display: flex;
  direction: rtl;
  margin-bottom: 5px;
}

.cartPageContent {
  flex: 1;
  overflow-y: auto; /* Enable scrolling for the main content */
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 60%;
  background-color: white;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  z-index: 400;
  padding: 10px 20px;
  overflow-y: auto;
}

.navigation_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  direction: rtl;
  padding: 0 0 20px 0;
  border-bottom: 1px solid gray;
}

.navigation_main {
  padding: 20px 0;
  display: inline-flex;
  direction: rtl;
  gap: 30px;
  flex-direction: column;
}

.navigation_main a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navigation_main a svg {
  font-size: 24px;
}

.navigation_footer {
  padding: 20px 0;
  direction: rtl;
  border-top: 1px solid gray;
  margin-top: 1rem;
}

.navigation_footer .navigation_dropdown {
  display: flex;
  direction: ltr;
  justify-content: space-between;
  align-items: center;
}

.navigation_icon {
  display: flex;
  gap: 30px;
  margin-top: 0.3rem;
  font-size: 1.2rem;
}

.navigation_dropdown_content {
  display: flex;
  flex-direction: column;
  direction: rtl;
  margin-top: 5px;
  gap: 10px;
}

.navigation_dropdown_content a {
  display: block; /* لینک‌ها به صورت بلوکی نمایش داده شوند */
  padding-right: 1.5em; /* فاصله برای نقطه‌ها */
  position: relative;
  text-align: right; /* متن به راست چین شده */
}

.navigation_dropdown_content a::before {
  content: "•"; /* نقطه */
  position: absolute;
  right: 0; /* قرار دادن نقطه در سمت راست */
  color: black; /* رنگ نقطه */
  font-size: 1.2em; /* سایز نقطه */
  margin-right: 5px; /* فاصله بین نقطه و متن */
}

.overlay {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.5);
  z-index: 380;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart_empty{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  direction: rtl;
}

.cart_empty svg{
  font-size: 5.5em;
  color: #f1f1f1;
}

.cart_empty p{
  font-size: 20px;
  font-weight: 700;
  margin-top: 1.5rem;
}

.cart_empty span{
  font-size: 12px;
  margin-top: 1rem;
}

.cart_empty span:nth-child(4) {
  margin-bottom: 1.2rem !important;
}

.cart_empty a {
  padding: 10px 20px;
  font-size: 12px;
  border-radius: 0.001px;
  color: white;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  background-color: rgb(0, 137, 121);
}

.navigation_header div img{
  width: 120px;
  height: 40px;
}

@media (max-width: 1024px) {
  .navbar,
  .navbar_fixed {
    display: none;
  }

  .nav_mobile {
    position: relative;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }

  .count_cart {
    position: relative;
  }

  .count_cart span {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: rgb(52, 24, 14);
    color: white;
    border-radius: 50%;
    padding: 4px;
    font-size: 12px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 16px;
    height: 16px;
    box-sizing: border-box;
  }
}
